<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- link the main css file -->
    <link rel="stylesheet" href="css/style.css" />
    <!-- link the main js file -->
    <script type="module" src="js/app.js" defer></script>
</head>
<body>
        <!-- ai2html -->
        <section class="ai2html">
            <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                <!-- This is the line that matters for import -->
                <%- include('./ai2html-output/ai2html-test.ejs'); %>
                </div>
                
            </div>
            </div>
            
        </section>

        <!-- scrolly -->
        <section id="doge-scrolly">

        <!-- define the scroll sections -->
        <% const blocks=
            [
            { 
                "filename" : "doge_1" , 
                "anno": "<div class='h5 fw-bold'> Starting </div> Hurricane katrina started it's formation like a tropical depression <b>200 miles</b> southeast of Bahamas"  
            }, 
            { 
                "filename" : "doge_2" , 
                "anno": "<div class='h5 fw-bold'> Reaching Florida </div> It reached florida and grew bigger in radius and caused a destruction of <b>$2 Billion</b> and also caused<b>14 Deaths</b>. "
            },
                    { 
                "filename" : "doge_3" , 
                "anno": "<div class='h5 fw-bold'> Category 3 </div> After the destruction of Florida the speed of hurricane increased and reached <b>60 knots</b> ."                
            },
                { 
                    "filename" : "doge_4" , 
                    "anno": "<div class='h5 fw-bold'> Category 5 </div> It reached Lousiana August 29 at 14:30 with the speed of <b>135 knots</b> and killed 1500 people causing $100 billion of damage."                
                },

                    { 
                        "filename" : "doge_5" , 
                        "anno": "<div class='h5 fw-bold'> Category 4 </div> It travelled to Missippi with speed of 70 knots and caused damaged of $30 billion." 
                        },
                        { 
                            "filename" : "doge_6" , 
                            "anno": "<div class='h5 fw-bold'> End </div> Katrina came to end in Kentucky where it became normal storm and traveled to columbus." 
                            }
            ] 
        %>
        <!-- every { filename, anno } object makes a new section -->

        <!-- include the component -->
        <%- include('./scrolly/scrolly.ejs', {id: "doge-scrolly" , blocks: blocks }); %>
        
        </section>
</body>
</html>